{
  "parser": "babel-eslint",
  "rules": {
    "no-extra-semi": "error", // disallow unnecessary semicolons
    "semi-spacing": 0,
    "eqeqeq": "off",
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "constructor-super": "warn",
    "valid-typeof": "warn",
    "curly": "warn",
     "semi": 2,                      // require or disallow use of semicolons instead of ASI
    // "no-console": 0,  // disallow use of console (off by default in the node environment)
    // "no-ex-assign": 0,            // disallow assigning to the exception in a catch block
    "quotes": ["warn", "single"]
  },
  "plugins": [
    "react"
  ]
}
